

<% if user_profile_signed_in? %>
<h1>Welcome <%= current_user_profile.first_name %>!</h1>
</br>
    <table cellspacing="5">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Phone number</th>
      <th>Email</th>
    </tr>

      <tr>
        <td><%= current_user_profile.first_name %></td>
        <td><%= current_user_profile.last_name  %></td>
        <td><%= current_user_profile.phone_number %></td>
        <td><%= current_user_profile.email  %></td>
      </tr>
  </table>

  <%= link_to 'Edit Profile', edit_user_profile_registration_path %>
  <%= link_to 'Logout', destroy_user_profile_session_path, method: :delete %>

<% else %>
<h1>Welcome to Crud User Application</h1>
</br>
    <%= link_to 'Signup', new_user_profile_registration_path %>
    <%= link_to 'Login', new_user_profile_session_path %>
<% end %>


